$def with (posts,archives)
$var title = 'Archive'


<h4>Recent</h4>

<ul id="recent">
$for post in posts:	 
        <li>
            <div class="time"><i>$:post.published_at.strftime("%B %d, %Y")</i></div>
            <a class="taggedlink" href="/posts/$:post.slug" rel="bookmark">$:post.title</a>
        </li>

</ul>	

<h4>Archive</h4>

<ul id="monthly">
$for archive in archives:
	 <li>
           <a href="/archives/1/$:archive['year']/$:archive['month']" rel="directory">$:archive['full_month']  $:archive['year'] &nbsp;&nbsp;($:archive['posts_count'])</a>
     </li>
</ul>